@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: "#E5E5E5";
  font-family: "Lora";
  color: #14213d;
}

.menu-open {
  animation: slidesIn 1s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.menu-close {
  transform: translateX(100%);
  transition: 500ms ease-in-out;
}

.items-open {
  animation: itemsSlidesIn 1s ease-in-out;
  animation-delay: 0.3s;
  transition: transform 0.3s ease-in-out;
}

@keyframes slidesIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes itemsSlidesIn {
  0% {
    opacity: 0;
    transform: translateY(-120%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.header-scrolled {
  background-color: #14213d;
  color: #ffffff;
  transition: all 1s ease-in-out;
}

.mobile-header-scrolled {
  background-color: #e5e5e5;
  transition: all 1s ease-in-out;
}

.image-fade-in {
  animation: imageFadeIn 0.8s ease-in-out;
}

@keyframes imageFadeIn {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.swiper-wrapper {
  padding-bottom: 40px !important;
}

.swiper-pagination-bullet-active {
  background-color: #14213d !important;
}

.burger-wrapper {
  position: absolute !important;
  top: 12px;
  right: 5%;
}

.burger-bar {
  transition: all 0.3s linear;
  transform-origin: 1px;
}
